.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}