<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:PersonalFinan='http://boleto.com.br'>

<head>

<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors/bootstrap-switch.min.css}"/>

</head>
	
<body>	

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>
	
	
	<div class="container-fluid">
	
		<form method="POST" th:object="${usuario}">
		
		<div layout:include="/fragmentos/MensagemErro"></div>
		<th:block th:include="/fragmentos/MensagemGeral"></th:block>
	
<!-- 	th:classappend="${#fields.hasErrors('codigo_usuario')} ? has-error" -->
			
			<div class="row">
				<div class="form-group  col-sm-2  bw-required" PersonalFinan:classforerror='nome' >
					<label for="codigo" class="control-label">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo_usuario}"/>
				</div>
				
				<div class="form-group  col-sm-6  bw-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
				
			<div class="row">
				
				<div class="form-group  col-sm-2" th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
					<label for="dataNascimento" class="control-label">Data de nascimento</label>
					<input type="text" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
				</div>
				
				
				<div class="form-group  col-sm-6  bw-required" th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('senha')} ? has-error" >
					<label for="senha" class="control-label">Senha</label> 
					<input type="password" class="form-control" id="senha"  th:field="*{senha}"/>
				</div>
				
				<div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('confirmacaoSenha')} ? has-error">
					<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha"  th:field="*{confirmacaoSenha}"/>
				</div>
				
<!-- 				<div class="form-group  col-sm-3"> -->
<!-- 					<label class="control-label">Status</label> -->
<!-- 					<div> -->
<!-- 						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger"  -->
<!-- 							data-on-text="Ativo" data-off-text="Inativo" th:field="*{ativo}"/> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div> 
			
			<div class="row">
				<div class="form-group  col-sm-6 bw-required" th:classappend="${#fields.hasErrors('grupos')} ? has-error" >
					<label class="control-label">Grupos</label> 
										
					<div>
						<th:block th:each="grupo : ${grupos}">
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
		    					<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
	    					</div>
	    				</th:block>
					</div>
				</div>
			</div>					
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
	
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/layout/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
	
	
</th:block>

</body>
</html>